/* Write your code here. */
.thumbnail {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 10px;
}
.btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
